# SERVICE CONFIG
ALLOWED_ORIGINS=http://meusite.ao,http://localhost:3000,http://localhost:9002
API_ROUTE=/api/contact
LOG_PATH=../logs/

# SMTP CONFIG
SMTP_HOST=seu_servidor.ao
SMTP_PORT=465
SMTP_USERNAME=no-reply@seu_servidor.ao
SMTP_PASSWORD=SuaSenhaSuperSegura
SMTP_SECURE=tls # ou 'ssl'

# E-MAIL CONFIG
EMAIL_FROM=no-reply@seu_servidor.ao
EMAIL_FROM_NAME="Formulário de Contacto"
EMAIL_TO=comercial@seu_servidor.ao
EMAIL_SUBJECT="Novo Contacto do Site"

# LANG
DEFAULT_LANG=pt

# SECRET
API_SECRET_KEY=bfd8669e46489869bdbd0ffad6dea8af13aa6e068936c35233fb1aa5d6ce9e9#chave_super_secreta

# RECAPTCHA V3
RECAPTCHA_ENABLED=false
RECAPTCHA_SECRET_KEY=chave_secreta_V3
RECAPTCHA_V3_THRESHOLD=0.5
RECAPTCHA_URL='https://www.google.com/recaptcha/api/siteverify'